#container{
    display: grid;
    grid-template-columns: 500px;
}
#one{
    background-color: cadetblue;
       }
#two{
    background-color: bisque;
    width: 300px;
    height: 150px;
    }
#three{
    background-color: blueviolet;
     }
#four{
    background-color: antiquewhite;
    }
#five{
    background-color: cornflowerblue;
   }
